<nb-card status="info">
    <nb-card-header>
        <h5>Listado de clientes</h5>
        <button nbButton status="info" (click)="onNew()"><nb-icon icon="plus-circle-outline"></nb-icon>nuevo cliente</button>
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                </ng-container>

                <ng-container matColumnDef="dni">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
                    <td mat-cell *matCellDef="let element"> {{ element.dni }} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{ element.firstname }} </td>
                </ng-container>

                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{ element.lastname }} </td>
                </ng-container>

                <ng-container matColumnDef="debe">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> $ Debe </th>
                    <td mat-cell *matCellDef="let element"> {{ element.debe }} </td>
                </ng-container>

                <ng-container matColumnDef="province">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Provincia </th>
                    <td mat-cell *matCellDef="let element"> {{ element.province }} </td>
                </ng-container>

                <ng-container matColumnDef="locality">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Localidad </th>
                    <td mat-cell *matCellDef="let element"> {{ element.locality }} </td>
                </ng-container>

                <ng-container matColumnDef="cp">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Código Postal </th>
                    <td mat-cell *matCellDef="let element"> {{ element.cp }} </td>
                </ng-container>

                <ng-container matColumnDef="zone">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Zona </th>
                    <td mat-cell *matCellDef="let element"> {{ element.zone.name }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button nbButton ghost status="basic" (click)="onHistory(element.id)"><nb-icon icon="bar-chart-2-outline"></nb-icon></button>
                        <button nbButton ghost status="info" (click)="onShow(element)"><nb-icon icon="eye"></nb-icon></button>
                        <button nbButton ghost status="warning" (click)="onEdit(element)"><nb-icon icon="edit"></nb-icon></button>
                        <button nbButton ghost status="danger" (click)="onDeleted(element.id)"><nb-icon icon="trash-2"></nb-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[50, 100, 200]" showFirstLastButtons></mat-paginator>

        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton size="small" status="success" (click)="exportToExcel()"><nb-icon icon="file"></nb-icon>exportar excel</button>
    </nb-card-footer>
</nb-card>