<nb-card accent="info" size="giant">
    <nb-card-header>
        <h5>info del pedido</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a pedidos</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="orderForm" autocomplete="off">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del cliente:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput formControlName="clientName" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>telefono:</mat-label>
                        <input matInput formControlName="clientTel" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>dirección:</mat-label>
                        <input matInput formControlName="clientDir" readonly>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del vendedor:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput formControlName="sellerName" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>usuario:</mat-label>
                        <input matInput formControlName="sellerUser" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>email:</mat-label>
                        <input matInput formControlName="sellerEmail" readonly>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del repartidor:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput formControlName="deliveryName" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>usuario:</mat-label>
                        <input matInput formControlName="deliveryUser" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>email:</mat-label>
                        <input matInput formControlName="deliveryEmail" readonly>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h6>más detalles:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>total de la orden:</mat-label>
                        <input matInput formControlName="total" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>fecha de entrega:</mat-label>
                        <input matInput formControlName="deliveryDate" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>estado:</mat-label>
                        <input matInput formControlName="status" readonly>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <ng-template [ngIf]="supplyInfo" [ngIfElse]="productList">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <h6>detalles del insumo:</h6>
                        <mat-form-field class="col-lg-12">
                            <mat-label>nombre:</mat-label>
                            <input matInput formControlName="supplyName" readonly>
                        </mat-form-field>
                        <mat-form-field class="col-lg-12">
                            <mat-label>descripcion:</mat-label>
                            <input matInput formControlName="supplyDesc" readonly>
                        </mat-form-field>
                        <mat-form-field class="col-lg-12">
                            <mat-label>precio:</mat-label>
                            <input matInput formControlName="supplyPrice" readonly>
                        </mat-form-field>
                        <mat-form-field class="col-lg-12">
                            <mat-label>cantidad:</mat-label>
                            <input matInput formControlName="supplyQty" readonly>
                        </mat-form-field>
                    </div>
                </ng-template>
                <ng-template #productList>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <h6>productos de la orden:</h6>
                        <div style="display: flex; flex-direction: row-reverse;">
                            <button nbButton size="small" status="success" (click)="exportToExcel()"><nb-icon icon="file"></nb-icon>exportar productos</button>
                        </div>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                            </ng-container>
            
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Descripción </th>
                                <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                            </ng-container>

                            <ng-container matColumnDef="unit_p">
                                <th mat-header-cell *matHeaderCellDef> P. Unitario </th>
                                <td mat-cell *matCellDef="let element"> {{ element.unit_p }} </td>
                            </ng-container>

                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                                <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
                            </ng-container>

                            <ng-container matColumnDef="total">
                                <th mat-header-cell *matHeaderCellDef> Importe </th>
                                <td mat-cell *matCellDef="let element"> {{ element.total }} </td>
                            </ng-container>
            
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </ng-template>
            </div>
            <br>
            <div class="row">
                <mat-form-field class="col-lg-12 col-md-4 col-sm-12">
                    <mat-label>Comentarios</mat-label>
                    <input matInput formControlName="description" readonly>
                </mat-form-field>
            </div>
        </form>
    </nb-card-body>
</nb-card>