<nb-layout>
    <nb-layout-column>
        <nb-card class="container mt-5">
            <nb-card-header><h3>Inicio de Sesión</h3></nb-card-header>
            <nb-card-body>
                <!-- <button (click)="onLoad()" nbButton hero fullWidth status="info">LOAD</button> -->
                <ngx-spinner type="ball-spin-clockwise"></ngx-spinner>
                <nb-tabset fullWidth>
                    <nb-tab tabTitle="Repartidores">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmitDelivery(loginForm.value)" autocomplete="on">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3">
                                    <label>Email:</label><br>
                                    <input type="email" fullWidth nbInput status="success" shape="round" formControlName="email" >
                                    <nb-form-field class="mt-3">
                                        <label>Contraseña:</label><br>
                                        <input [type]="getInputType()" fullWidth nbInput status="success" shape="round" formControlName="password" >
                                        <button class="mt-4" type='button' nbSuffix nbButton ghost (click)="toggleShowPassword()">
                                          <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                                   pack="eva"
                                                   [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                                          </nb-icon>
                                        </button>
                                    </nb-form-field>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-lg-6 offset-lg-3">
                                    <button type="submit" nbButton hero fullWidth status="success">Iniciar como Repartidor</button>
                                </div>
                            </div>
                        </form>
                    </nb-tab>
                    <nb-tab tabTitle="Vendedor">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmitSeller(loginForm.value)" autocomplete="on">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3">
                                    <label>Email:</label><br>
                                    <input type="email" fullWidth nbInput status="warning" shape="round" formControlName="email" >
                                    <nb-form-field class="mt-3">
                                        <label>Contraseña:</label><br>
                                        <input [type]="getInputType()" fullWidth nbInput status="warning" shape="round" formControlName="password" >
                                        <button class="mt-4" type='button' nbSuffix nbButton ghost (click)="toggleShowPassword()">
                                          <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                                   pack="eva"
                                                   [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                                          </nb-icon>
                                        </button>
                                    </nb-form-field>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-lg-6 offset-lg-3">
                                    <button type="submit" nbButton hero fullWidth status="warning">Iniciar como Vendedor</button>
                                </div>
                            </div>
                        </form>
                    </nb-tab>
                    <nb-tab tabTitle="Admin">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmitAdmin(loginForm.value)" autocomplete="on">
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3">
                                    <label>Email:</label><br>
                                    <input type="email" fullWidth nbInput status="info" shape="round" formControlName="email" >
                                    <nb-form-field class="mt-3">
                                        <label>Contraseña:</label><br>
                                        <input [type]="getInputType()" fullWidth nbInput status="info" shape="round" formControlName="password" >
                                        <button class="mt-4" type='button' nbSuffix nbButton ghost (click)="toggleShowPassword()">
                                          <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                                   pack="eva"
                                                   [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                                          </nb-icon>
                                        </button>
                                    </nb-form-field>
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col-lg-6 offset-lg-3">
                                    <button type="submit" nbButton hero fullWidth status="info">Iniciar como Admin</button>
                                </div>
                            </div>
                        </form>
                    </nb-tab>
                </nb-tabset>
                
            </nb-card-body>
            <nb-card-footer>
                AGUA SI! Desarrollado por © Max Shtefec, 2020. Todos los derechos reservados.
            </nb-card-footer>
          </nb-card>
    </nb-layout-column>
</nb-layout>