<nb-card status="info">
    <nb-card-header>
        <h5>{{ title }}</h5>
    </nb-card-header>
    <nb-card-body>
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">

            <input [(ngModel)]="client.id" name="id" type="hidden">

            <span class="caption-2 text-hint">información personal</span>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label class="subtitle-2">Apellido</label>
                    <input nbInput fullWidth [(ngModel)]="client.lastname" name="lastname" type="text" status="info" [readonly]="isReadonly" required>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label class="subtitle-2">Nombre/s</label>
                    <input nbInput fullWidth [(ngModel)]="client.firstname" name="firstname" type="text" status="info" [readonly]="isReadonly" required>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label class="subtitle-2">Dni</label>
                    <input nbInput fullWidth [(ngModel)]="client.dni" name="dni" type="text" status="info" mask="00.000.000" [readonly]="isReadonly" required>
                </div>
            </div>
            <br>
            <span class="caption-2 text-hint">información de contacto</span>
            <hr>
            <div class="row">    
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <label class="subtitle-2">Nro. de contacto</label>
                    <nb-form-field>
                        <nb-icon nbPrefix icon="phone-outline" pack="eva"></nb-icon>
                        <input nbInput fullWidth [(ngModel)]="client.celphone" name="celphone" type="text" status="info" mask="(000) 0 000000" [readonly]="isReadonly" >
                    </nb-form-field>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label class="subtitle-2">Email</label>
                    <nb-form-field>
                        <nb-icon nbSuffix icon="at-outline" pack="eva"></nb-icon>
                        <input nbInput fullWidth [(ngModel)]="client.email" name="email" type="text" status="info" [readonly]="isReadonly">
                    </nb-form-field>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-8 col-sm-12">
                    <label class="subtitle-2">Dirección</label>
                    <input nbInput fullWidth [(ngModel)]="client.address" name="address" type="text" status="info" [readonly]="isReadonly">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <label class="subtitle-2">Provincia</label>
                    <input nbInput fullWidth [(ngModel)]="client.province" name="province" type="text" status="info" [readonly]="isReadonly">
                </div>
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <label class="subtitle-2">Localidad</label>
                    <input nbInput fullWidth [(ngModel)]="client.locality" name="locality" type="text" status="info" [readonly]="isReadonly">
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <label class="subtitle-2">Código Postal</label>
                    <input nbInput fullWidth [(ngModel)]="client.cp" name="cp" type="text" status="info" [readonly]="isReadonly">
                </div>
            </div>
            <br>
            <span class="caption-2 text-hint">otros datos</span>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label class="subtitle-2">Fecha de alta</label><br>
                    <div *ngIf="isReadonly; else highDateInput">
                        <input nbInput fullWidth value="{{ client.high_date.date | date : 'fullDate' }}" name="high_date" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #highDateInput>
                        <input nbInput fullWidth [(ngModel)]="client.high_date.date" name="high_date" [nbDatepicker]="date" status="info" placeholder="elegir fecha">
                        <nb-datepicker #date format="fullDate"></nb-datepicker>
                    </ng-template>
                </div>
                <div class="col-lg-4 offset-lg-4 col-md-6 col-sm-8">
                    <label class="subtitle-2">Cliente de:</label>
                    <div *ngIf="isReadonly; else sellerInput">
                        <input nbInput fullWidth value="{{ client.seller.lastname + ', ' + client.seller.firstname }}" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #sellerInput>
                        <nb-select fullWidth [(ngModel)]="client.seller.id" name="seller" status="info" placeholder="seleccione vendedor">
                            <nb-option *ngFor="let user of users; let i = index;" [value]="user.id">
                                {{ user.lastname }}, {{ user.firstname }}
                            </nb-option>
                        </nb-select>
                    </ng-template>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-8">
                    <label class="subtitle-2">Zona</label>
                    <div *ngIf="isReadonly; else zoneInput">
                        <input nbInput fullWidth value="{{ client.zone.name }}" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #zoneInput>
                        <nb-select fullWidth [(ngModel)]="client.zone.id" name="zone" status="info" placeholder="seleccione zona">
                            <nb-option *ngFor="let zone of zones; let i = index;" [value]="zone.id">
                                {{ zone.name }}
                            </nb-option>
                        </nb-select>
                    </ng-template>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-8">
                    <label class="subtitle-2">Estado</label>
                    <div *ngIf="isReadonly; else statusInput">
                        <input nbInput fullWidth value="{{ client.status.name }}" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #statusInput>
                        <nb-select fullWidth [(ngModel)]="client.status.id" name="status" status="info" placeholder="seleccione estado">
                            <nb-option *ngFor="let status of states; let i = index;" [value]="status.id">
                                {{ status.name }}
                            </nb-option>
                        </nb-select>
                    </ng-template>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-8">
                    <label class="subtitle-2">Origen</label>
                    <div *ngIf="isReadonly; else originInput">
                        <input nbInput fullWidth value="{{ client.origin.name }}" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #originInput>
                        <nb-select fullWidth [(ngModel)]="client.origin.id" name="origin" status="info" placeholder="seleccione origen">
                            <nb-option *ngFor="let origin of origins; let i = index;" [value]="origin.id">
                                {{ origin.name }}
                            </nb-option>
                        </nb-select>
                    </ng-template>
                </div>
                <div class="col-lg-2 col-md-4 col-sm-12">
                    <label class="subtitle-2">Debe</label>
                    <input nbInput fullWidth [(ngModel)]="client.debe" name="debe" type="text" status="info" placeholder="$" [readonly]="isReadonly">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12 col-md-4 col-sm-12">
                    <label class="subtitle-2">Comentarios</label>
                    <textarea nbInput fullWidth [(ngModel)]="client.description" name="description" status="info" placeholder="otra información de interés" [readonly]="isReadonly"></textarea>
                </div>
            </div>
            <br>
            <div class="float-right">
                <button type="submit" nbButton status="info" [disabled]="isReadonly"><nb-icon icon="checkmark-circle-outline"></nb-icon>guardar</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>