<nb-card accent="info" size="large">
    <nb-card-header style="position: relative;">
        <h5>Editar Origenes del Cliente</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a origenes del cliente</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" autocomplete="off">
            <div class="row">
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" required>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="description" required>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button type="submit" nbButton status="info"><nb-icon icon="checkmark-circle-outline"></nb-icon>actualizar origenes del cliente</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>