<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>nuevo usuario</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a usuarios</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)" autocomplete="off">
            <div class="row">
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input matInput formControlName="username" required>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="lastname" required>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nombre/s</mat-label>
                    <input matInput formControlName="firstname" required>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <mat-label>Rol</mat-label>
                    <mat-select formControlName="role" [(ngModel)]="selectedDefaultRole" required>
                        <mat-option *ngFor="let rol of roles" [value]="rol.value">
                          {{ rol.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" required>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button type="submit" nbButton status="info"><nb-icon icon="checkmark-circle-outline"></nb-icon>nuevo usuario</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>