<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>listado de insumos</h5>
        <button nbButton status="info" (click)="onNew()"><nb-icon icon="plus-circle-outline"></nb-icon>nuevo insumo</button>
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                </ng-container>

                <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
                    <td mat-cell *matCellDef="let element"> {{ element.stock }} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> $ Precio </th>
                    <td mat-cell *matCellDef="let element"> {{ element.price }} </td>
                </ng-container>

                <ng-container matColumnDef="active">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo </th>
                    <td mat-cell *matCellDef="let element"> {{ element.active }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button nbButton ghost status="info" (click)="onShow(element)"><nb-icon icon="eye"></nb-icon></button>
                        <button nbButton ghost status="warning" (click)="onEdit(element)"><nb-icon icon="edit"></nb-icon></button>
                        <button nbButton ghost status="danger" (click)="onDeleted(element.id)"><nb-icon icon="trash-2"></nb-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 25, 50, 100]" showFirstLastButtons></mat-paginator>

        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton size="small" status="success" (click)="exportToExcel()"><nb-icon icon="file"></nb-icon>exportar excel</button>
    </nb-card-footer>
</nb-card>