<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>detalle del insumo</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a insumos</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="supplyForm" autocomplete="off">
            <div class="row">
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="description" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-2 col-md-4 col-sm-12">
                    <mat-label>Stock</mat-label>
                    <input matInput type="number" formControlName="stock" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-2 col-md-4 col-sm-12">
                    <mat-label>Precio de Venta</mat-label>
                    <input matInput formControlName="price" prefix="$ " mask="separator.2" thousandSeparator="." decimalMarker="," readonly>
                </mat-form-field>
                <nb-checkbox class="col-lg-2 col-md-4 col-sm-12" formControlName="active" onclick="return false;" readonly>Activo?</nb-checkbox>
            </div>
        </form>
    </nb-card-body>
</nb-card>