<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>Tablero</h5>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <nb-card status="primary">
                    <nb-card-header>
                        Usuarios # {{ usrCounts }}
                        <nb-icon icon="people"></nb-icon>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item>Administradores: # {{ admCounts }}</nb-list-item>
                            <nb-list-item>Vendedores: # {{ delCounts }}</nb-list-item>
                            <nb-list-item>Repartidores: # {{ selCounts }}</nb-list-item>
                            <nb-list-item>Clientes: # {{ cliCounts }}</nb-list-item>
                        </nb-list>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <nb-card status="warning">
                    <nb-card-header>
                        Insumos
                        <nb-icon icon="shopping-cart"></nb-icon>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item>Cantidad de Artículos: # {{ artCounts }}</nb-list-item>
                            <nb-list-item>Costos / Gastos: $ {{ expCost }}</nb-list-item>
                            <nb-list-item>Cantidad de Insumos / Gastos: # {{ expCounts }}</nb-list-item>
                        </nb-list>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <nb-card status="danger">
                    <nb-card-header>
                        Pedidos # {{ ordCounts }}
                        <nb-icon icon="car"></nb-icon>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item>Pendientes: # {{ penCounts }}</nb-list-item>
                            <nb-list-item>En Distribución: # {{ disCounts }}</nb-list-item>
                            <nb-list-item>Entregados: # {{ entCounts }}</nb-list-item>
                            <nb-list-item>Vendidos: # {{ venCounts }}</nb-list-item>
                        </nb-list>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <nb-card status="success">
                    <nb-card-header>
                        Ventas # {{ venCounts }}
                        <nb-icon icon="car"></nb-icon>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-list>
                            <nb-list-item>Total por Venta: $ {{ venCost }}</nb-list-item>
                        </nb-list>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p [ngStyle]="colorStyle">lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                <mat-form-field class="col-lg-3 col-md-6 col-sm-8">
                    <mat-label>Asignar Estado</mat-label>
                    <mat-select #colorCard (selectionChange)="updateColorCard(colorCard.value)" required>
                        <mat-option value="red">red</mat-option>
                        <mat-option value="green">green</mat-option>
                        <mat-option value="yellow">yellow</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-slider [min]="14" [max]="30" (input)="onInputChange($event)"></mat-slider>
            </div>
        </div>  
    </nb-card-body>
</nb-card>