<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>ver usuario</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a usuarios</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="userForm" autocomplete="off">
            <div class="row">
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nombre de Usuario</mat-label>
                    <input matInput formControlName="username" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="lastname" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nombre/s</mat-label>
                    <input matInput formControlName="firstname" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Rol</mat-label>
                    <input matInput formControlName="role" readonly>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a usuarios</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>