<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>Listado de ventas</h5>
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
              
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Codigo </th>
                        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                
                    <ng-container matColumnDef="client">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Cliente </th>
                        <td mat-cell *matCellDef="let element"> {{ element.client.firstname }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="delivery">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Repartidor </th>
                        <td mat-cell *matCellDef="let element"> {{ element.delivery.lastname }} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Importe </th>
                        <td mat-cell *matCellDef="let element"> {{ element.total | currency }} </td>
                        <td mat-footer-cell *matFooterCellDef> {{ getTotal() | currency }} </td>
                    </ng-container>

                    <ng-container matColumnDef="delivery_date">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Fecha Entrega </th>
                        <td mat-cell *matCellDef="let element"> {{ element.delivery_date.date | date: 'dd/MM/yyyy' }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button nbButton ghost status="info"><nb-icon icon="eye"></nb-icon></button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>

        </div>
    </nb-card-body>
</nb-card>