<nb-card accent="info" size="giant">
    <nb-card-header>
        <h5>información de la venta</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a ventas</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="orderForm" autocomplete="off">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del cliente:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput formControlName="clientName" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>telefono:</mat-label>
                        <input matInput formControlName="clientTel" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>dirección:</mat-label>
                        <input matInput formControlName="clientDir" readonly>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del vendedor:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput formControlName="sellerName" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>usuario:</mat-label>
                        <input matInput formControlName="sellerUser" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>email:</mat-label>
                        <input matInput formControlName="sellerEmail" readonly>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del repartidor:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput formControlName="deliveryName" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>usuario:</mat-label>
                        <input matInput formControlName="deliveryUser" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>email:</mat-label>
                        <input matInput formControlName="deliveryEmail" readonly>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del insumo:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>nombre:</mat-label>
                        <input matInput formControlName="supplyName" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>descripcion:</mat-label>
                        <input matInput formControlName="supplyDesc" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>precio:</mat-label>
                        <input matInput formControlName="supplyPrice" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>cantidad:</mat-label>
                        <input matInput formControlName="supplyQty" readonly>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <h6>más detalles:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>total de la orden:</mat-label>
                        <input matInput formControlName="total" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>fecha de entrega:</mat-label>
                        <input matInput formControlName="deliveryDate" readonly>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>estado:</mat-label>
                        <input matInput formControlName="status" readonly>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-12 col-md-4 col-sm-12">
                    <mat-label>Comentarios</mat-label>
                    <input matInput formControlName="description" readonly>
                </mat-form-field>
            </div>
        </form>
    </nb-card-body>
</nb-card>