<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>actualizar pedido</h5>
        <button nbButton [routerLink]="['../../']"><nb-icon icon="undo-outline"></nb-icon>volver a pedidos</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)" autocomplete="off">
        <!-- <form #orderEditForm="ngForm" (ngSubmit)="onSubmit(orderEditForm)"> -->
            <div class="row mb-3">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label>Cliente Asignado</label>
                    <input *ngIf="clientInfo" type="text" nbInput fullWidth fieldSize="small" shape="round" value="{{ clientInfo.lastname }}, {{ clientInfo.firstname }}" disabled>
                    <input formControlName="client" hidden>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label>Vendedor Asignado</label>
                    <input *ngIf="sellerInfo" type="text" nbInput fullWidth fieldSize="small" shape="round" value="{{ sellerInfo.lastname }}, {{ sellerInfo.firstname }}" disabled>
                    <input formControlName="seller" hidden>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label>Repartidor Asignado</label>
                    <input *ngIf="deliveryInfo" type="text" nbInput fullWidth fieldSize="small" shape="round" value="{{ deliveryInfo.lastname }}, {{ deliveryInfo.firstname }}" disabled>
                    <input formControlName="delivery" hidden>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label>Buscar cliente</label>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let client of filteredClients | async" [value]="client">
                          {{ client }}
                        </mat-option>
                    </mat-autocomplete>

                    <ng-autocomplete 
                        [data]="clients$ | async"
                        [searchKeyword]="filterFieldClient"
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate"
                        (selected)='updateClientInfo($event)'
                    >
                    </ng-autocomplete>
                    
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.lastname"></a>
                    </ng-template>
                    
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label>Buscar vendedor</label>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let seller of filteredSellers | async" [value]="seller">
                          {{ seller }}
                        </mat-option>
                    </mat-autocomplete>

                    <ng-autocomplete 
                        [data]="sellers$ | async"
                        [searchKeyword]="filterFieldDeliverySeller"
                        [itemTemplate]="itemTemplateSeller"
                        [notFoundTemplate]="notFoundTemplate"
                        (selected)='updateSellerInfo($event)'
                    >
                    </ng-autocomplete>
                    
                    <ng-template #itemTemplateSeller let-item>
                        <a [innerHTML]="item.email"></a>
                    </ng-template>
                    
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label>Buscar repartidor</label>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let delivery of filteredDeliveries | async" [value]="delivery">
                          {{ delivery }}
                        </mat-option>
                    </mat-autocomplete>

                    <ng-autocomplete 
                        [data]="deliveries$ | async"
                        [searchKeyword]="filterFieldDeliverySeller"
                        [itemTemplate]="itemTemplateDelivery"
                        [notFoundTemplate]="notFoundTemplate"
                        (selected)='updateDeliveryInfo($event)'
                    >
                    </ng-autocomplete>
                    
                    <ng-template #itemTemplateDelivery let-item>
                        <a [innerHTML]="item.email"></a>
                    </ng-template>
                    
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label>Fecha de entrega Asignada</label>
                    <input *ngIf="deliveryDateInfo" type="text" nbInput fullWidth fieldSize="small" shape="round" value="{{ deliveryDateInfo }}" disabled>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-8">
                    <label>Dirección Asignada</label>
                    <input *ngIf="addressInfo" type="text" nbInput fullWidth fieldSize="small" shape="round" value="{{ addressInfo }}" disabled>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-8">
                    <label>Estado Asignado</label>
                    <input *ngIf="statusInfo" type="text" nbInput fullWidth fieldSize="small" shape="round" value="{{ statusInfo }}" disabled>
                </div>
            </div>
            <div class="row">
                <nb-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <label>Asignar nueva fecha de entrega</label><br>
                    <input nbInput fullWidth placeholder="elegir fecha" [nbDatepicker]="date" formControlName="delivery_date">
                    <nb-datepicker #date format="fullDate"></nb-datepicker>
                </nb-form-field>
                <nb-form-field *ngIf="clientInfo" class="col-lg-3 col-md-6 col-sm-8">
                    <label>Nueva Dirección</label><br>
                    <input nbInput fullWidth formControlName="address" disabled>
                </nb-form-field>
                <mat-form-field class="col-lg-3 col-md-6 col-sm-8">
                    <mat-label>Nuevo Estado</mat-label>
                    <mat-select #status formControlName="status" required>
                        <mat-option value="PENDIENTE">Pendiente</mat-option>
                        <mat-option value="ENTREGADO">Entregado</mat-option>
                        <mat-option value="DISTRIBUCION">Distribución</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-2 col-md-6 col-sm-12">
                    <mat-label>Total de la orden:</mat-label>
                    <input matInput #total formControlName="total" prefix="$ " mask="separator.2" thousandSeparator="." required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-12 col-md-4 col-sm-12">
                    <mat-label>Comentarios</mat-label>
                    <input matInput formControlName="description" required>
                </mat-form-field>
            </div>
            <hr>
            <div class="row">
                <div [formGroup]="supplyForm" class="col-lg-12 col-md-6 col-sm-8">
                    <mat-form-field class="col-lg-4 col-md-6 col-sm-8">
                        <mat-label>Asignar Insumo</mat-label>
                        <mat-select formControlName="supply">
                            <mat-option *ngFor="let supply of suppliesCollection; let i = index;" [value]="supply">
                                {{ supply.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-lg-2">
                        <mat-label>Cantidad del Insumo</mat-label>
                        <input matInput type="number" formControlName="quantity">
                    </mat-form-field>
                    <button class="col-lg-2" nbButton type="button" status="info" size="small" (click)="addNewSupply(supplyForm.value)"><nb-icon icon="plus-circle-outline"></nb-icon>Agregar nuevo insumo</button><br>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6>productos de la orden:</h6>
                    <table mat-table [dataSource]="dataSourceSupplies" class="mat-elevation-z8">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Id </th>
                            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                        </ng-container>

                        <ng-container matColumnDef="unit_p">
                            <th mat-header-cell *matHeaderCellDef> P. Unitario </th>
                            <td mat-cell *matCellDef="let element"> {{ element.unit_p }} </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                            <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> Importe </th>
                            <td mat-cell *matCellDef="let element"> {{ element.total }} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element"> 
                                <button nbButton ghost status="danger" (click)="onDeleted(element.id, element.total)"><nb-icon icon="trash-2"></nb-icon></button>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSupply"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSupply;"></tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div *ngIf="clientInfo" class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del cliente:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput value="{{ clientInfo.lastname }}, {{ clientInfo.firstname }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>telefono:</mat-label>
                        <input matInput value="{{ clientInfo.celphone }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>dirección:</mat-label>
                        <input matInput value="{{ clientInfo.address }}" disabled>
                    </mat-form-field>
                </div>
                <div *ngIf="sellerInfo" class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del vendedor:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput value="{{ sellerInfo.lastname }}, {{ sellerInfo.firstname }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>usuario:</mat-label>
                        <input matInput value="{{ sellerInfo.username }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>email:</mat-label>
                        <input matInput value="{{ sellerInfo.email }}" disabled>
                    </mat-form-field>
                </div>
                <div *ngIf="deliveryInfo" class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del repartidor:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput value="{{ deliveryInfo.lastname }}, {{ deliveryInfo.firstname }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>usuario:</mat-label>
                        <input matInput value="{{ deliveryInfo.username }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>email:</mat-label>
                        <input matInput value="{{ deliveryInfo.email }}" disabled>
                    </mat-form-field>
                </div>
                <div *ngIf="supplyInfo" class="col-lg-3 col-md-6 col-sm-12">
                <h6>detalles del insumo:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>nombre:</mat-label>
                        <input matInput  value="{{ supplyInfo.name }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>descripción:</mat-label>
                        <input matInput prefix="$ " value="{{ supplyInfo.description }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>precio:</mat-label>
                        <input matInput value="{{ supplyInfo.price }}" disabled>
                    </mat-form-field>
                </div>
            </div>
            <hr>
            <div class="float-right">
                <button nbButton status="info" type="submit" ><nb-icon icon="plus-circle-outline"></nb-icon>Actualizar pedido</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>