<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>Listado de pedidos</h5>
        <button nbButton status="info" (click)="onNew()"><nb-icon icon="plus-circle-outline"></nb-icon>nuevo pedido</button>
        <button nbButton status="primary" outline shape="round" size="tiny"><nb-icon icon="plus-circle-outline"></nb-icon>Semana</button>
        <button nbButton status="primary" outline shape="round" size="tiny"><nb-icon icon="plus-circle-outline"></nb-icon>Mes</button>
        <button nbButton status="primary" outline shape="round" size="tiny"><nb-icon icon="plus-circle-outline"></nb-icon>Año</button>
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
              
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Codigo </th>
                        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="client_id">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Cliente Id </th>
                        <td mat-cell *matCellDef="let element"> {{ element.client.id }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                
                    <ng-container matColumnDef="client_name">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{ element.client_firstname }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="client_lastname">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Apellido </th>
                        <td mat-cell *matCellDef="let element"> {{ element.client_lastname }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> $ Importe </th>
                        <td mat-cell *matCellDef="let element"> {{ element.total | number }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container> 

                    <ng-container matColumnDef="delivery_date">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Fecha de Entrega </th>
                        <td mat-cell *matCellDef="let element"> {{ element.delivery_date.date | date: 'dd/MM/yyyy' }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="load_date">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Fecha de Carga </th>
                        <td mat-cell *matCellDef="let element"> {{ element.load_date.date | date: 'dd/MM/yyyy' }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="created_at">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Fecha de Pedido </th>
                        <td mat-cell *matCellDef="let element"> {{ element.created_at.date | date: 'dd/MM/yyyy' }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Estado </th>
                        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button nbButton ghost status="info" (click)="onShow(element)"><nb-icon icon="eye"></nb-icon></button>
                        <button nbButton ghost status="warning" (click)="onEdit(element)"><nb-icon icon="edit"></nb-icon></button>
                        <button nbButton ghost status="danger" (click)="onDeleted(element.id)"><nb-icon icon="trash-2"></nb-icon></button>
                        <button nbButton ghost status="success" (click)="onFinish(element)" *ngIf="element.status == 'PENDIENTE' || element.status == 'ENTREGADO'"><nb-icon icon="checkmark-square-outline"></nb-icon></button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-green': row.status == 'VENDIDO',  'make-yellow': row.status == 'ENTREGADO'}"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>

        </div>
    </nb-card-body>
    <nb-card-footer>
        <button nbButton size="small" status="success" (click)="exportToExcel()"><nb-icon icon="file"></nb-icon>exportar excel</button>
    </nb-card-footer>
</nb-card>