<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>Listado de clientes</h5>
        <button nbButton status="info" (click)="onNew()"><nb-icon icon="plus-circle-outline"></nb-icon>nuevo cliente</button>
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                </ng-container>

                <ng-container matColumnDef="dni">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
                    <td mat-cell *matCellDef="let element"> {{ element.dni }} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
                </ng-container>

                <ng-container matColumnDef="lastname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{ element.lastname }} </td>
                </ng-container>

                <ng-container matColumnDef="firstname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre/s </th>
                    <td mat-cell *matCellDef="let element"> {{ element.firstname }} </td>
                </ng-container>

                <ng-container matColumnDef="debe">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> $ Puntos </th>
                    <td mat-cell *matCellDef="let element"> {{ element.debe }} </td>
                </ng-container>

                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                    <td mat-cell *matCellDef="let element"> {{ element.address }} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button nbButton ghost status="info" (click)="onShow(element)"><nb-icon icon="eye"></nb-icon></button>
                        <button nbButton ghost status="warning" (click)="onEdit(element)"><nb-icon icon="edit"></nb-icon></button>
                        <button nbButton ghost status="danger" (click)="onDeleted(element.id)"><nb-icon icon="trash-2"></nb-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>

        </div>
    </nb-card-body>
</nb-card>