<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>editar costo / gasto</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a costos / gastos</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="supplyForm" (ngSubmit)="onSubmit(supplyForm.value)" autocomplete="off">
            <div class="row">
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" required>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-8">
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="category" required>
                        <mat-option *ngFor="let category of categories; let i = index;" [value]="category">
                            {{ category.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Total</mat-label>
                    <input matInput formControlName="price" prefix="$ " mask="separator.2" thousandSeparator="." decimalMarker="," required>
                </mat-form-field>
                <mat-form-field class="col-lg-9 col-md-4 col-sm-12">
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="description" required>
                </mat-form-field>
                <nb-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <label>Asignar fecha</label><br>
                    <input nbInput fullWidth placeholder="elegir fecha" [nbDatepicker]="date" formControlName="created_at">
                    <nb-datepicker #date format="fullDate"></nb-datepicker>
                </nb-form-field>
                <nb-checkbox class="col-lg-2 col-md-4 col-sm-12" formControlName="active">Activo?</nb-checkbox>
            </div>
            <div class="float-right">
                <button type="submit" nbButton status="info"><nb-icon icon="checkmark-circle-outline"></nb-icon>editar costo / gasto</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>