<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>ver estado del cliente</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a estados del cliente</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="form" autocomplete="off">
            <div class="row">
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="name" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Descripción</mat-label>
                    <input matInput formControlName="description" readonly>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a estados del cliente</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>