<nb-card status="info">
    <nb-card-header>
        <h5>{{ title }}</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a bidones</button>
    </nb-card-header>
    <nb-card-body>
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
            <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <label class="subtitle-2">Estado</label>
                    <input nbCheckbox fullWidth [(ngModel)]="bottle.active" name="active" type="checkbox" status="info" [readonly]="isReadonly" required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <label class="subtitle-2">Nombre</label>
                    <input nbInput fullWidth [(ngModel)]="bottle.name" name="name" type="text" status="info" [readonly]="isReadonly" required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <label class="subtitle-2">Descripción</label>
                    <input nbInput fullWidth [(ngModel)]="bottle.description" name="description" type="text" status="info" [readonly]="isReadonly" required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <label class="subtitle-2">Stock</label>
                    <input nbInput fullWidth [(ngModel)]="bottle.stock" name="stock" type="number" status="info" [readonly]="isReadonly" required>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-md-12 col-sm-12">
                    <label class="subtitle-2">Precio</label>
                    <input nbInput fullWidth [(ngModel)]="bottle.price" name="price" type="number" status="info" [readonly]="isReadonly" required>
                </div>
            </div>
            <br>
            <div class="float-right">
                <button type="submit" nbButton status="info" [disabled]="isReadonly"><nb-icon icon="checkmark-circle-outline"></nb-icon>guardar</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>