table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

nb-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.make-green {
    background-color: #b4ecb4;
}