<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>Listado de mis pedidos asignados</h5>
        <button nbButton status="warning" outline shape="round" size="small" (click)="filterAssigned()"><nb-icon icon="plus-circle-outline"></nb-icon>pendientes: {{ countAssigned }}</button>
        <button nbButton status="success" outline shape="round" size="small" (click)="filterFinished()"><nb-icon icon="checkmark-square-outline"></nb-icon>entregados: {{ countFinished }}</button>
    </nb-card-header>
    <nb-card-body>
        <div class="table-responsive">

            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
              
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Codigo </th>
                        <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                
                    <ng-container matColumnDef="client">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Cliente </th>
                        <td mat-cell *matCellDef="let element"> {{ element.client.lastname }}, {{ element.client.firstname }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Total </th>
                        <td mat-cell *matCellDef="let element"> ${{ element.total }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="delivery_date">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Fecha Entrega </th>
                        <td mat-cell *matCellDef="let element"> {{ element.delivery_date.date | date: 'dd/MM/yyyy' }} </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
        
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let element"> 
                            <button nbButton ghost status="info" (click)="onShow(element)"><nb-icon icon="eye"></nb-icon></button>
                            <button nbButton ghost status="success" (click)="onFinish(element)" *ngIf="element.status == 'PENDIENTE'"><nb-icon icon="checkmark-square-outline"></nb-icon></button>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-green': row.status == 'ENTREGADO' || row.status == 'VENDIDO' }"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                </table>
    
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons ></mat-paginator>

        </div>
    </nb-card-body>
</nb-card>