<nb-card status="info" size="large">
    <nb-card-header>
        <h5>{{ title }}</h5>
    </nb-card-header>
    <nb-card-body>
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">
            <input [(ngModel)]="order.id" name="id" type="hidden">
            <span class="caption-2 text-hint">Manipular Pedido</span>
            <hr>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label class="subtitle-2">Cliente:</label>
                    <div *ngIf="isReadonly; else clientInput">
                        <input nbInput fullWidth value="{{ order.client.lastname + ', ' + order.client.firstname }}" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #clientInput>
                        <nb-select (selectedChange)="updateClientInfo($event)" fullWidth [(ngModel)]="order.client.id" name="client" status="info" placeholder="seleccione cliente">
                            <nb-option *ngFor="let client of clients; let i = index;" [value]="client.id">
                                {{ client.lastname }}, {{ client.firstname }}
                            </nb-option>
                        </nb-select>
                    </ng-template>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label class="subtitle-2">Vendedor:</label>
                    <div *ngIf="isReadonly; else vendorInput">
                        <input nbInput fullWidth value="{{ order.seller.lastname + ', ' + order.seller.firstname }}" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #vendorInput>
                        <nb-select fullWidth [(ngModel)]="order.seller.id" name="seller" status="info" placeholder="seleccione vendedor">
                            <nb-option *ngFor="let user of users; let i = index;" [value]="user.id">
                                {{ user.lastname }}, {{ user.firstname }}
                            </nb-option>
                        </nb-select>
                    </ng-template>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label class="subtitle-2">Repartidor:</label>
                    <div *ngIf="isReadonly; else deliveryInput">
                        <input nbInput fullWidth value="{{ order.delivery.lastname + ', ' + order.delivery.firstname }}" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #deliveryInput>
                        <nb-select fullWidth [(ngModel)]="order.delivery.id" name="delivery" status="info" placeholder="seleccione repartidor">
                            <nb-option *ngFor="let user of users; let i = index;" [value]="user.id">
                                {{ user.lastname }}, {{ user.firstname }}
                            </nb-option>
                        </nb-select>
                    </ng-template>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">    
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label class="subtitle-2">Dirección</label>
                    <input nbInput fullWidth [(ngModel)]="order.address" name="address" type="text" status="info" readonly>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label class="subtitle-2">Asignar Estado:</label>
                    <div *ngIf="isReadonly; else statusInput">
                        <input nbInput fullWidth value="{{ order.status }}" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #statusInput>
                        <nb-select fullWidth [(ngModel)]="order.status" name="status" status="info" placeholder="seleccione estado">
                            <nb-option *ngFor="let status of statuses; let i = index;" [value]="status.id">
                                {{ status.name }}
                            </nb-option>
                        </nb-select>
                    </ng-template>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <label class="subtitle-2">Total</label>
                    <input nbInput fullWidth [(ngModel)]="order.total" name="total" type="float" status="info" [readonly]="isReadonly" required>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label class="subtitle-2">Fecha de Entrega</label><br>
                    <div *ngIf="isReadonly; else deliveryDateInput">
                        <input nbInput fullWidth value="{{ order.delivery_date.date | date : 'fullDate' }}" name="delivery_date" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #deliveryDateInput>
                        <input nbInput fullWidth [(ngModel)]="order.delivery_date.date" name="delivery_date" [nbDatepicker]="delivery_date" status="info" placeholder="elegir fecha">
                        <nb-datepicker #delivery_date format="fullDate"></nb-datepicker>
                    </ng-template>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label class="subtitle-2">Fecha de Carga</label><br>
                    <div *ngIf="isReadonly; else loadDateInput">
                        <input nbInput fullWidth value="{{ order.load_date.date | date : 'fullDate' }}" name="load_date" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #loadDateInput>
                        <input nbInput fullWidth [(ngModel)]="order.load_date.date" name="load_date" [nbDatepicker]="load_date" status="info" placeholder="elegir fecha">
                        <nb-datepicker #load_date format="fullDate"></nb-datepicker>
                    </ng-template>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <label class="subtitle-2">Fecha de Pedido</label><br>
                    <div *ngIf="isReadonly; else createdAtInput">
                        <input nbInput fullWidth value="{{ order.created_at.date | date : 'fullDate' }}" name="created_at" type="text" status="info" [readonly]="isReadonly">
                    </div>
                    <ng-template #createdAtInput>
                        <input nbInput fullWidth [(ngModel)]="order.created_at.date" name="created_at" [nbDatepicker]="created_at" status="info" placeholder="elegir fecha">
                        <nb-datepicker #created_at format="fullDate"></nb-datepicker>
                    </ng-template>
                </div>
            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-lg-12 col-md-4 col-sm-12">
                    <label class="subtitle-2">Comentarios</label>
                    <textarea nbInput fullWidth [(ngModel)]="order.description" name="description" status="info" placeholder="comentarios del pedido" [readonly]="isReadonly"></textarea>
                </div>
            </div>
            <br>
            
            <div class="row">
                <div [formGroup]="supplyForm" class="col-lg-12 col-md-6 col-sm-8">
                    <mat-form-field class="col-lg-5 col-md-6 col-sm-8">
                        <mat-label>Asignar Insumo</mat-label>
                        <mat-select formControlName="supply">
                            <mat-option *ngFor="let supply of suppliesCollection; let i = index;" [value]="supply">
                                {{ supply.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-lg-3">
                        <mat-label>Cantidad del Insumo</mat-label>
                        <input matInput type="number" formControlName="quantity">
                    </mat-form-field>
                    <button class="col-lg-4" nbButton type="button" status="info" size="small" (click)="addNewSupply(supplyForm.value)"><nb-icon icon="plus-circle-outline"></nb-icon>Agregar nuevo insumo</button><br>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6>productos de la orden:</h6>
                    <table mat-table [dataSource]="dataSourceSupplies" class="mat-elevation-z8">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Id </th>
                            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                        </ng-container>

                        <ng-container matColumnDef="unit_p">
                            <th mat-header-cell *matHeaderCellDef> P. Unitario </th>
                            <td mat-cell *matCellDef="let element"> {{ element.unit_p }} </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                            <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> Importe </th>
                            <td mat-cell *matCellDef="let element"> {{ element.total }} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element"> 
                                <button nbButton ghost status="danger" (click)="onDeleted(element.id, element.total)"><nb-icon icon="trash-2"></nb-icon></button>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSupply"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSupply;"></tr>
                    </table>
                </div>
            </div>

            <div class="float-right">
                <button type="submit" nbButton status="info" [disabled]="isReadonly"><nb-icon icon="checkmark-circle-outline"></nb-icon>guardar</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>