<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>info del cliente</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a clientes</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="clientForm" autocomplete="off">
            <div class="row">
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="lastname" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nombre/s</mat-label>
                    <input matInput formControlName="firstname" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Dni</mat-label>
                    <input matInput formControlName="dni" mask="00.000.000" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nro. de contacto</mat-label>
                    <input matInput formControlName="celphone" mask="(000) 0 000000" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-12 col-md-8 col-sm-12">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="address" readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-4 col-md-4 col-sm-12">
                    <mat-label>Provincia</mat-label>
                    <input matInput formControlName="province" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-4 col-sm-12">
                    <mat-label>Localidad</mat-label>
                    <input matInput formControlName="locality" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-4 col-sm-12">
                    <mat-label>Código Postal</mat-label>
                    <input matInput formControlName="cp" readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-4 col-md-4 col-sm-12">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" readonly>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-4 col-sm-12">
                    <mat-label>$ Puntaje</mat-label>
                    <input matInput formControlName="debe" readonly>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-12 col-md-4 col-sm-12">
                    <mat-label>Comentarios</mat-label>
                    <input matInput formControlName="description" readonly>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a clientes</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>