<nb-card accent="info" size="giant">
    <nb-card-header>
        <h5>Detalles de pedidos insumos</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a pedidos</button>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div style="display: flex; flex-direction: row-reverse;">
                    <button nbButton size="small" status="success" (click)="exportToExcel()"><nb-icon icon="file"></nb-icon>exportar detalles</button>
                </div>
                <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                    <ng-container matColumnDef="id_order">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. Pedido </th>
                        <td mat-cell *matCellDef="let element"> {{ element.id_order }} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_supply">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. Insumo </th>
                        <td mat-cell *matCellDef="let element"> {{ element.id_supply }} </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
                        <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                    </ng-container>

                    <ng-container matColumnDef="unit_p">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> P. Unitario </th>
                        <td mat-cell *matCellDef="let element"> {{ element.unit_p }} </td>
                    </ng-container>

                    <ng-container matColumnDef="quantity">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                        <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe </th>
                        <td mat-cell *matCellDef="let element"> {{ element.total }} </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </nb-card-body>
</nb-card>