<nb-card accent="info" size="large">
    <nb-card-header>
        <h5>nuevo cliente</h5>
        <button nbButton (click)="onBack()"><nb-icon icon="undo-outline"></nb-icon>volver a clientes</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="clientForm" (ngSubmit)="onSubmit(clientForm.value)" autocomplete="off">
            <div class="row">
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="lastname" required>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nombre/s</mat-label>
                    <input matInput formControlName="firstname" required>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Dni</mat-label>
                    <input matInput formControlName="dni" mask="00.000.000" required>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-4 col-sm-12">
                    <mat-label>Nro. de contacto</mat-label>
                    <input matInput formControlName="celphone" mask="(000) 0 000000" required>
                </mat-form-field>
                <mat-form-field class="col-lg-12 col-md-8 col-sm-12">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="address" required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <mat-label>Provincia</mat-label>
                    <mat-select formControlName="province" required>
                        <mat-option *ngFor="let province of provinces; let i = index;" value="{{ province.name }}">{{ province.name }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-4 col-sm-12">
                    <mat-label>Localidad</mat-label>
                    <input matInput formControlName="locality" required>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-4 col-sm-12">
                    <mat-label>Código Postal</mat-label>
                    <input matInput formControlName="cp" required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-4 col-md-4 col-sm-12">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-4 col-sm-12">
                    <mat-label>$ Puntaje</mat-label>
                    <input matInput formControlName="debe" required>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-12 col-md-4 col-sm-12">
                    <mat-label>Comentarios</mat-label>
                    <input matInput formControlName="description" required>
                </mat-form-field>
            </div>
            <div class="float-right">
                <button type="submit" nbButton status="info"><nb-icon icon="checkmark-circle-outline"></nb-icon>nuevo cliente</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>