<nb-card status="info">
    <nb-card-header>
        <div *ngIf="orderId; else newT">
            <h5>actualizar pedido</h5>
        </div>
        <ng-template #newT>
            <h5>nuevo pedido</h5>
        </ng-template>
        <button nbButton [routerLink]="['../']"><nb-icon icon="undo-outline"></nb-icon>volver a pedidos</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)" autocomplete="off">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label>Asignar Cliente</label><br>
                    <ng-autocomplete 
                        [data]="clients$ | async"
                        [searchKeyword]="keyword"
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate"
                        (selected)='updateClientInfo($event)'
                    >
                    </ng-autocomplete>
                    
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.lastname"></a>
                    </ng-template>
                    
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
                <mat-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <mat-label>Asignar Vendedor</mat-label>
                    <mat-select #choosedSeller (selectionChange)="updateSellerInfo(choosedSeller.value)" formControlName="seller" required>
                        <mat-option *ngFor="let seller of sellers; let i = index;" [value]="seller">
                            {{ seller.email }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <mat-label>Asignar Repartidor</mat-label>
                    <mat-select #choosedDelivery (selectionChange)="updateDeliveryInfo(choosedDelivery.value)" formControlName="delivery" required>
                        <mat-option *ngFor="let delivery of deliveries; let i = index;" [value]="delivery">
                            {{ delivery.email }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <hr>
            <div class="row">
                <nb-form-field *ngIf="clientInfo" class="col-lg-4 col-md-6 col-sm-8">
                    <label>Dirección</label><br>
                    <input nbInput fullWidth formControlName="address" disabled>
                </nb-form-field>
                <mat-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <mat-label>Asignar Estado</mat-label>
                    <mat-select formControlName="status" required>
                        <mat-option value="PENDIENTE">Pendiente</mat-option>
                        <mat-option value="ENTREGADO">Entregado</mat-option>
                        <mat-option value="DISTRIBUCION">Distribución</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-6 col-sm-12">
                    <mat-label>Total de la orden:</mat-label>
                    <input matInput prefix="$ " mask="separator.2" thousandSeparator="." formControlName="total" required>
                </mat-form-field>
            </div>
            <br>
            <div class="row">
                <nb-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <label>Asignar fecha de entrega</label><br>
                    <input nbInput fullWidth placeholder="elegir fecha" [nbDatepicker]="deliveryDate" formControlName="delivery_date">
                    <nb-datepicker #deliveryDate format="fullDate"></nb-datepicker>
                </nb-form-field>
                <nb-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <label>Asignar fecha de carga</label><br>
                    <input nbInput fullWidth placeholder="elegir fecha" [nbDatepicker]="loadDate" formControlName="load_date">
                    <nb-datepicker #loadDate format="fullDate"></nb-datepicker>
                </nb-form-field>
                <nb-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <label>Asignar fecha de pedido</label><br>
                    <input nbInput fullWidth placeholder="elegir fecha" [nbDatepicker]="CreatedDate" formControlName="created_at">
                    <nb-datepicker #CreatedDate format="fullDate"></nb-datepicker>
                </nb-form-field>
            </div>
            <br>
            <div class="row">
                <mat-form-field class="col-lg-12 col-md-4 col-sm-12">
                    <mat-label>Comentarios</mat-label>
                    <input matInput formControlName="description" required>
                </mat-form-field>
            </div>
            <hr>
            <!--
            <div class="row">
                <div formArrayName="supplies" class="col-lg-12 col-md-6 col-sm-8">
                    <button nbButton type="button" status="info" size="small" (click)="addNewSupplyForm()"><nb-icon icon="plus-circle-outline"></nb-icon>Agregar nuevo insumo</button><br>
                    <mat-form-field *ngFor="let supply of suppliesForm.controls; let i=index" [formGroupName]="i" class="col-lg-6">
                        <mat-label>Agregar Insumo {{ i + 1 }}</mat-label>
                        <mat-select #choosedSupply (selectionChange)="updateSupplyInfo(choosedSupply.value)" formControlName="supply" required>
                            <mat-option *ngFor="let supply of suppliesCollection; let i = index;" [value]="supply">
                                {{ supply.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field  *ngFor="let quantity of suppliesForm.controls; let i=index" [formGroupName]="i" class="col-lg-2">
                        <mat-label>Cantidad del Insumo {{ i + 1 }}</mat-label>
                        <input matInput type="number" formControlName="quantity" required>
                    </mat-form-field>
                </div>
            </div>
            -->
            <div class="row">
                <div [formGroup]="supplyForm" class="col-lg-12 col-md-6 col-sm-8">
                    <mat-form-field class="col-lg-4 col-md-6 col-sm-8">
                        <mat-label>Asignar Insumo</mat-label>
                        <mat-select formControlName="supply">
                            <mat-option *ngFor="let supply of suppliesCollection; let i = index;" [value]="supply">
                                {{ supply.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-lg-2">
                        <mat-label>Cantidad del Insumo</mat-label>
                        <input matInput type="number" formControlName="quantity">
                    </mat-form-field>
                    <button class="col-lg-2" nbButton type="button" status="info" size="small" (click)="addNewSupply(supplyForm.value)"><nb-icon icon="plus-circle-outline"></nb-icon>Agregar nuevo insumo</button><br>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h6>productos de la orden:</h6>
                    <table mat-table [dataSource]="dataSourceSupplies" class="mat-elevation-z8">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> Id </th>
                            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
                        </ng-container>
        
                        <ng-container matColumnDef="description">
                            <th mat-header-cell *matHeaderCellDef> Descripción </th>
                            <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                        </ng-container>

                        <ng-container matColumnDef="unit_p">
                            <th mat-header-cell *matHeaderCellDef> P. Unitario </th>
                            <td mat-cell *matCellDef="let element"> {{ element.unit_p }} </td>
                        </ng-container>

                        <ng-container matColumnDef="quantity">
                            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                            <td mat-cell *matCellDef="let element"> {{ element.quantity }} </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> Importe </th>
                            <td mat-cell *matCellDef="let element"> {{ element.total }} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element"> 
                                <button nbButton ghost status="danger" (click)="onDeleted(element.id, element.total)"><nb-icon icon="trash-2"></nb-icon></button>
                            </td>
                        </ng-container>
        
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsSupply"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSupply;"></tr>
                    </table>
                </div>
            </div>
                <!-- <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
                    <mat-label>Asignar Articulo</mat-label>
                    <mat-select #choosedSupply (selectionChange)="updateSupplyInfo(choosedSupply.value)" formControlName="supply" required>
                        <mat-option *ngFor="let supply of suppliesCollection; let i = index;" [value]="supply">
                            {{ supply.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-2 col-md-6 col-sm-12">
                    <mat-label>Cantidad</mat-label>
                    <input matInput #quantity (change)="updatePrice(quantity.value)" type="number" formControlName="quantity" required>
                </mat-form-field> -->
            <div class="row">
                <div *ngIf="clientInfo" class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del cliente:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput value="{{ clientInfo.lastname }}, {{ clientInfo.firstname }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>telefono:</mat-label>
                        <input matInput value="{{ clientInfo.celphone }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>dirección:</mat-label>
                        <input matInput value="{{ clientInfo.address }}" disabled>
                    </mat-form-field>
                </div>
                <div *ngIf="sellerInfo" class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del vendedor:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput value="{{ sellerInfo.lastname }}, {{ sellerInfo.firstname }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>usuario:</mat-label>
                        <input matInput value="{{ sellerInfo.username }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>email:</mat-label>
                        <input matInput value="{{ sellerInfo.email }}" disabled>
                    </mat-form-field>
                </div>
                <div *ngIf="deliveryInfo" class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del repartidor:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput value="{{ deliveryInfo.lastname }}, {{ deliveryInfo.firstname }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>usuario:</mat-label>
                        <input matInput value="{{ deliveryInfo.username }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>email:</mat-label>
                        <input matInput value="{{ deliveryInfo.email }}" disabled>
                    </mat-form-field>
                </div>
                <!-- <div *ngIf="supplyInfo" class="col-lg-3 col-md-6 col-sm-12">
                <h6>detalles del insumo:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>nombre:</mat-label>
                        <input matInput  value="{{ supplyInfo.name }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>descripción:</mat-label>
                        <input matInput prefix="$ " value="{{ supplyInfo.description }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>precio:</mat-label>
                        <input matInput value="{{ supplyInfo.price }}" disabled>
                    </mat-form-field>
                </div> -->
            </div>
            <hr>
            <div class="float-right">
                <button nbButton status="info" type="submit" ><nb-icon icon="plus-circle-outline"></nb-icon>Crear pedido</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>