/* You can add global styles to this file, and also import other style files */
@import "@nebular/theme/styles/prebuilt/default.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "assets/css/bootstrap-grid.css";
@import '~ngx-toastr/toastr.css';

.float-right {
    float: right;
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

nb-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nb-card-header, h5 {
    color: white !important;
}