<nb-card accent="info" size="large">
    <nb-card-header>
        <div *ngIf="orderId; else newT">
            <h5>actualizar pedido</h5>
        </div>
        <ng-template #newT>
            <h5>nuevo pedido</h5>
        </ng-template>
        <button nbButton [routerLink]="['../']"><nb-icon icon="undo-outline"></nb-icon>volver a pedidos</button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="orderForm" (ngSubmit)="onSubmit(orderForm.value)" autocomplete="off">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <label>Asignar Cliente</label><br>
                    <ng-autocomplete 
                        [data]="clients$ | async"
                        [searchKeyword]="keyword"
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate"
                        (selected)='updateClientInfo($event)'
                    >
                    </ng-autocomplete>
                    
                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.lastname"></a>
                    </ng-template>
                    
                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div>
            </div>
            <hr>
            <div class="row">
                <nb-form-field class="col-lg-4 col-md-6 col-sm-8">
                    <label>Asignar fecha de entrega</label><br>
                    <input nbInput fullWidth placeholder="elegir fecha" [nbDatepicker]="date" formControlName="delivery_date">
                    <nb-datepicker #date format="fullDate"></nb-datepicker>
                </nb-form-field>
                <nb-form-field *ngIf="clientInfo" class="col-lg-6 col-md-6 col-sm-8">
                    <label>Dirección</label><br>
                    <input nbInput fullWidth formControlName="address" disabled>
                </nb-form-field>
            </div>
            <hr>
            <div class="row">
                <mat-form-field class="col-lg-6 col-md-6 col-sm-12">
                    <mat-label>Asignar Insumo / Articulo</mat-label>
                    <mat-select #choosedSupply (selectionChange)="updateSupplyInfo(choosedSupply.value)" formControlName="supply" required>
                        <mat-option *ngFor="let supply of suppliesCollection; let i = index;" [value]="supply">
                            {{ supply.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-2 col-md-6 col-sm-12">
                    <mat-label>Cantidad</mat-label>
                    <input matInput #quantity (change)="updatePrice(quantity.value)" type="number" formControlName="quantity" required>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-6 col-sm-12">
                    <mat-label>Total de la orden:</mat-label>
                    <input matInput prefix="$ " mask="separator.2" thousandSeparator="." formControlName="total" disabled>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-lg-12 col-md-4 col-sm-12">
                    <mat-label>Comentarios</mat-label>
                    <input matInput formControlName="description" required>
                </mat-form-field>
            </div>
            <div class="row">
                <div *ngIf="clientInfo" class="col-lg-3 col-md-6 col-sm-12">
                    <h6>detalles del cliente:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>apellido y nombre:</mat-label>
                        <input matInput value="{{ clientInfo.lastname }}, {{ clientInfo.firstname }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>telefono:</mat-label>
                        <input matInput value="{{ clientInfo.celphone }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>dirección:</mat-label>
                        <input matInput value="{{ clientInfo.address }}" disabled>
                    </mat-form-field>
                </div>
                <div *ngIf="supplyInfo" class="col-lg-3 col-md-6 col-sm-12">
                <h6>detalles del insumo:</h6>
                    <mat-form-field class="col-lg-12">
                        <mat-label>nombre:</mat-label>
                        <input matInput  value="{{ supplyInfo.name }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>descripción:</mat-label>
                        <input matInput prefix="$ " value="{{ supplyInfo.description }}" disabled>
                    </mat-form-field>
                    <mat-form-field class="col-lg-12">
                        <mat-label>precio:</mat-label>
                        <input matInput value="{{ supplyInfo.price }}" disabled>
                    </mat-form-field>
                </div>
            </div>
            <hr>
            <div class="float-right">
                <button nbButton status="info" type="submit" ><nb-icon icon="plus-circle-outline"></nb-icon>Crear pedido</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>